.A_SectionButton {
  display: flex;
  align-items: center;
  height: 40px;
  opacity: 0.6;
  padding: 10px 15px;
  font-family: 'InterSemiBold', sans-serif;
  font-size: 14px;
  line-height: 146%;
  color: var(--palegrey);
  cursor: pointer;

  &.active {
    opacity: 1;
    border-bottom: solid;
    border-width: 2px;
    border-color: var(--palegrey);
  }
}

.A_MailInput {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 220px;
  height: 30px;
  opacity: 0.6;

  .mailInput {
    padding: 10px 0px 6px 5px;
    border: none;
    border-bottom: solid;
    border-width: 1px;
    border-color: var(--palegrey);
    font-family: 'InterLight', sans-serif;
    font-size: 12px;
    line-height: 115%;
    background-color: var(--black);
  }
}

.C_HeadlinerTagsRow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  margin-left: 22px;
  gap: 8px;

    .A_DescriptionTag {
      display: inline-block;
      height: 22px;
      padding: 3px 14px 4px 14px;
      border-radius: 44px;
      border: 1px solid var(--blueishblue);
      cursor: pointer;

      .A_DescriptionTagText {
        font-family: 'InterLight', sans-serif;
        font-size: 12px;
        line-height: 115%;
        color: var(--blueishblue);
      }

      &:hover {
        background-color: var(--blueishblue);

        .A_DescriptionTagText {
          color: var(--white);
        }
      }

      &.active {
        background-color: var(--blueishblue);

        .A_DescriptionTagText {
          color: var(--palegrey);
        }
      }
      &.inactiveYellow {
        border-color: var(--sickyellow);

        .A_DescriptionTagText {
          color: var(--sickyellow);
        }
      }
      &.inactiveWhite {
        border-color: var(--white);

        .A_DescriptionTagText {
          color: var(--white);
        }
      }
    }
}

.W_TagsBlock {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 150px;
  gap: 6px;
}
// он должен быть внутри верхней обертки, но у нас есть место, где эта коллекция не в обертке
.C_TagsRow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  margin-left: 22px;
  gap: 8px;

  .A_DescriptionTag {
    display: inline-block;
    height: 22px;
    padding: 3px 14px 4px 14px;
    border-radius: 44px;
    border: 1px solid var(--blueishblue);
    cursor: pointer;

    .A_DescriptionTagText {
      font-family: 'InterLight', sans-serif;
      font-size: 12px;
      line-height: 115%;
      color: var(--blueishblue);
    }

    &:hover {
      background-color: var(--blueishblue);

      .A_DescriptionTagText {
        color: var(--white);
      }
    }

    &.active {
      background-color: var(--blueishblue);

      .A_DescriptionTagText {
        color: var(--palegrey);
      }
    }
    &.inactiveYellow {
      border-color: var(--sickyellow);

      .A_DescriptionTagText {
        color: var(--sickyellow);
      }
    }
    &.inactiveWhite {
      border-color: var(--white);

      .A_DescriptionTagText {
        color: var(--white);
      }
    }
  }
}


.A_CloudTag {
  display: inline-block;
  height: 35px;
  padding: 3.5px 20px 5px;
  border-radius: 44px;
  border: 1.5px solid var(--blueishblue);
  cursor: pointer;

  .A_CloudTagText {
    font-family: 'InterLight', sans-serif;
    font-size: 18px;
    line-height: 147%;
    color: var(--blueishblue);
  }

  &:hover {
    background-color: var(--blueishblue);

    .A_CloudTagText {
      color: var(--white);
    }
  }

  &.active {
    background-color: var(--blueishblue);

    .A_CloudTagText {
      color: var(--palegrey);
    }
  }
}

.A_Socials {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.A_TimeData {
  font-family: 'InterLight', sans-serif;
  font-size: 12px;
  line-height: 115%;
  color: var(--blueishblue);
}

.A_QuizHead {
  width: 700px;
  height: 200px;
}

.A_QuizHeadText {
  display: flex;
  justify-content: center;
  width: 700px;
  background-color: white;

  .A_EliteHeadText {
    width: 612px;
    margin: 20px 0px 20px 0px;
    font-family: 'InterItalic', sans-serif;
    font-size: 14px;
    line-height: 146%;
    color: var(--blueishblue);
  }
}

.A_LinkToCardsSection {
  position: relative;
  margin-top: 30px;
  font-family: 'InterLight', sans-serif;
  font-size: 12px;
  line-height: 115%;
  text-decoration: underline;
  text-align: center;
  color: var(--blueishblue);
  cursor: pointer;
}

.A_CardHead {
  width: 700px;
  height: 200px;
}

.A_CardTextHeader {
  width: 100%;
  font-family: 'InterMedium', sans-serif;
  font-size: 22px;
  line-height: 119%;
  text-align: center;
  color: var(--blueishblue);
}

.A_SeeYa {
  font-family: 'InterRegular', sans-serif;
  font-size: 18px;
  line-height: 146%;
  color: var(--palegrey);
}

.A_LeaveMailCall {
  width: 242px;
  font-family: 'InterLight', sans-serif;
  font-size: 12px;
  line-height: 115%;
  color: var(--palegrey);
}

.A_FooterLink {
  margin: 4.5px 0px 4.5px 0px;
  font-family: 'InterRegular', sans-serif;
  font-size: 18px;
  line-height: 146%;
  color: var(--palegrey);
}

.A_Logo {
  width: 46px;
}

.A_RightsReservedText {
  width: 242px;
  font-family: 'InterLight', sans-serif;
  font-size: 12px;
  line-height: 115%;
  color: var(--palegrey);
}

.A_QuizHeading {
  margin-bottom: 8px;
  font-family: 'InterMedium', sans-serif;
  font-size: 36px;
  line-height: 123%;
  color: var(--black);
}

.A_AnswerOption {
  display: flex;
  overflow: hidden;
  align-items: center;
  width: 570px;
  border: 2px solid var(--blueishblue);
  border-radius: 8px;

  &.picked {
    border: 4px solid var(--blueishblue);
  }
}

.A_QuestionNumber {
  width: 570px;
  font-family: 'InterMedium', sans-serif;
  font-size: 22px;
  line-height: 119%;
  color: var(--black);
}

.A_QuestionText {
  width: 570px;
  margin-bottom: 8px;
  margin-top: 8px;
  font-family: 'InterMedium', sans-serif;
  font-size: 36px;
  line-height: 123%;
  color: var(--black);
}

.A_ArticleHeading {
  margin-bottom: 8px;
  font-family: 'InterMedium', sans-serif;
  font-size: 36px;
  line-height: 123%;
  color: var(--black);
}

.A_ParagraphHeading {
  width: 687px;
  font-family: 'InterMedium', sans-serif;
  font-size: 22px;
  line-height: 119%;
  color: var(--black);
}

.A_ArticleParagraph {
  font-family: 'InterRegular', sans-serif;
  font-size: 18px;
  line-height: 146%;
  color: black;
}

.A_QuoteText {
  position: relative;
  width: 398px;
  font-family: 'InterMedium', sans-serif;
  font-size: 22px;
  line-height: 119%;
  text-align: center;
  color: var(--blueishblue);
}

.A_QuoteMark {
  position: relative;
  width: 137px;
}

.A_ArticleCardHeading {
  position: relative;
  width: 271px;
  margin-top: 22px;
  margin-left: 22px;
  font-family: 'InterMedium', sans-serif;
  font-size: 22px;
  line-height: 119%;
  color: var(--black);
  cursor: pointer;

  &.white {
    color: var(--white);
  }
}

.A_ArticleCardHeadingShort {
  position: relative;
  width: 173px;
  margin-top: 22px;
  margin-left: 22px;
  font-family: 'InterMedium', sans-serif;
  font-size: 22px;
  line-height: 119%;
  color: var(--black);
  cursor: pointer;

  &.white {
    color: var(--white);
  }
}

.A_SosCardDescription {
  position: relative;
  width: 187px;
  font-family: 'InterLight', sans-serif;
  font-size: 14px;
  line-height: 108.5%;
  color: var(--sickyellow);
  text-align: center;
}

.A_SosCardHeading {
  position: relative;
  //display: flex;
  //align-items: center;
  //flex-direction: row;
  //justify-content: center;
  height: 37px;
  border-radius: 8px 8px 0px 0px;
  cursor: pointer;
}

.A_HeadlinerHeading {
  position: relative;
  width: 522px;
  font-family: 'InterMedium', sans-serif;
  font-size: 22px;
  line-height: 119%;
  text-align: center;
  color: var(--white);
}

.A_HeadlinerDescription {
  position: relative;
  width: 522px;
  font-family: 'InterLight', sans-serif;
  font-size: 14px;
  line-height: 146%;
  color: var(--white);
}

.A_CardType {
  position: absolute;
  width: 70px;
  height: 70px;
  bottom: 14px;
  right: 14px;
  background-image: url('../src/images/TagQuiz.png');
  background-size: cover;

  &.sos {
    background-image: url('../src/images/TagSos.png');
  }

  &.headline {
    background-image: url('../src/images/TagHeading.png');
  }
}

.A_SectionHeading {
  width: 940px;
  font-family: 'InterMedium', sans-serif;
  font-size: 36px;
  line-height: 123%;
  color: var(--black);
}

.A_RecommendationHeading {
  position: relative;
  width: 700px;
  margin-top: 65px;
  font-family: 'InterMedium', sans-serif;
  font-size: 22px;
  line-height: 119%;
  color: var(--blueishblue);
}

.A_RecommendationCardImg {
  position: relative;
  width: 220px;
  height: 160px;
}

.A_RecommendationCardText {
  width: 174px;
  margin-top: 15px;
  font-family: 'InterItalic', sans-serif;
  font-size: 14px;
  line-height: 146%;
  color: var(--blueishblue);
}

.A_CardText{
  font-family: 'InterRegular', sans-serif;
  font-size: 18px;
  line-height: 146%;
  list-style: decimal;
  color: var(--blueishblue);
}

.A_AnswerOptionText {
  width: 401px;
  margin: 20px 0px 20px 40px;
  font-family: 'InterMedium', sans-serif;
  font-size: 22px;
  line-height: 119%;
  color: var(--black);
}

