.A_SectionButton {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 10px 15px;
  opacity: 0.6;


  &.Active {
    opacity: 1;
    border-bottom: solid;
    border-width: 2px;
    border-color: var(--palegrey);
  }

  p {
    font-family: 'InterSemiBold';
    font-size: 14px;
    line-height: 146%;
    color: var(--palegrey);
  }
}

.A_SearchBar {
  width: 247px;
  height: 30px;
  border-radius: 40px;
  cursor: text;
  font-family: 'InterLight';
  font-size: 12px;
  line-height: 115%;
  padding-left: 14px;
}

.A_MailInput {
  width: 220px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  opacity: 0.6;

  .mailInput {

    font-family: 'InterLight';
    padding: 10px 0px 6px 5px;
    font-size: 12px;
    line-height: 115%;
    background-color: var(--black);
    border: none;
    border-bottom: solid;
    border-width: 1px;
    border-color: var(--palegrey);
  }

}

.A_TagsList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 238px;
  height: 22px;
}

.A_DescriptionTag {
  display: inline-block;
  //flex-direction: row;
  //align-items: center;
  padding: 4px 14px;
  //gap: 10px;
  //position: relative;
  //width: 71px;
  height: 22px;
  border: 0.75px solid var(--blueishblue);
  border-radius: 44px;
  cursor: pointer;

  p {
    font-family: 'InterLight';
    font-size: 12px;
    line-height: 115%;
    color: var(--blueishblue);
  }

  &:hover {
    background-color: var(--blueishblue);

    p {
      color: var(--white);
    }
  }

  &.Active {
    background-color: var(--blueishblue);

    p {
      color: var(--palegrey);
    }
  }
}

.A_SocialsList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;
  width: 98px;
  height: 20px;

}

.A_Socials {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.A_TimeData {
  font-family: 'InterLight';
  font-size: 12px;
  line-height: 115%;
  color: var(--blueishblue);
}

.A_QuizHead {
  width: 700px;
  height: 200px;
  background-color: var(--sickyellow);
}

.A_QuizHeadText {
  display: flex;
  background-color: white;
  width: 700px;
  justify-content: center;

  p {
    font-family: 'InterItalic';
    font-size: 14px;
    line-height: 146%;
    width: 612px;
    margin: 20px 0px 20px 0px;
    color: var(--blueishblue);
  }
}

.A_LinkToCardsSection {
  position: relative;
  font-family: 'InterLight';
  font-size: 12px;
  line-height: 115%;
  color: var(--blueishblue);
  text-decoration: underline;
  cursor: pointer;
  margin-top: 30px;
  text-align: center;
}

.A_CardHead {
  width: 700px;
  height: 200px;
}

.A_CardText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 452px;

  h2 {
    font-family: 'InterMedium';
    font-size: 22px;
    line-height: 119%;
    color: var(--blueishblue);
    width: 100%;
    text-align: center;
  }

}

.A_SeeYa {
  font-family: 'InterRegular';
  font-size: 18px;
  line-height: 146%;
  color: var(--palegrey);
}

.A_LeaveMailCall {
  font-family: 'InterLight';
  font-size: 12px;
  line-height: 115%;
  width: 242px;
  color: var(--palegrey);
}

.A_Logo {
  width: 46px;
}

.A_QuizHeading {
  font-family: 'InterMedium';
  font-weight: 500;
  font-size: 36px;
  line-height: 123%;
  color: var(--black);
  margin-bottom: 8px;
}

.A_AnswerOption {
  width: 570px;
  border: 2px solid var(--blueishblue);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;

  &.Picked {
    border: 4px solid var(--blueishblue);
  }

  p {
    width: 401px;
    margin: 20px 0px 20px 40px;
  }

  .imgOption {
    width: 433px;
    height: 223px;
    margin: 8px 0px 8px 8px;
  }

  .ifCorrect {
    height: 46px;
    margin-left: 50px;
  }
}

.A_AnswerNumber {
  font-family: 'InterMedium';
  font-size: 22px;
  line-height: 119%;
  color: var(--black);
  width: 570px;
}

.A_AnswerHeading {
  font-family: 'InterMedium';
  font-size: 36px;
  line-height: 123%;
  color: var(--black);
  margin-bottom: 8px;
  width: 570px;
  margin-top: 8px;
}
