.M_NavigationLinks {
  display: flex;
  position: relative;
  margin-right: 221px;
  align-items: center;

}

.M_HeadlineBlock {
  margin-top: 40px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  border-radius: 8px;
  filter: drop-shadow(2px 1px 15px rgba(0,0,0,0.1));

  .HeadPicture {
    width: 700px;
    height: 200px;
    background-color: var(--sickyellow);
  }

  .EliteText {
    display: flex;
    background-color: white;
    width: 700px;
    justify-content: center;

    p {
      font-family: 'InterItalic';
      font-size: 14px;
      line-height: 146%;
      width: 612px;
      margin: 20px 0px 20px 0px;
      color: var(--blueishblue);
    }
  }
}

.M_MailCollectionBlock {
  position: relative;
  margin-right: 124px;
  width: 242px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;

}

.M_FooterLinks {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 48px;
  margin-right: 266px;

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
      font-family: 'InterRegular';
      font-size: 18px;
      line-height: 146%;
      margin: 4.5px 0px 4.5px 0px;
      color: var(--palegrey);
    }
  }
}

.M_ContentMetaData {
  width: 700px;
  height: 43px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 7px;

  p {
    font-family: 'InterLight';
    font-size: 12px;
    line-height: 115%;
    color: var(--blueishblue);
  }

  .Content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 364px;
    width: 700px;
    height: 22px;
  }

  .Tags {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 238px;
    height: 22px;
  }

  .Socials {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    width: 98px;
    height: 20px;

    .SocialIcon {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}

.M_CardContent {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: white;
  padding: 40px 0px 40px 0px;

}

.M_RightsReservedBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  opacity: 0.5;
  margin-top: 38px;


  p {
    font-family: 'InterLight';
    font-size: 12px;
    line-height: 115%;
    width: 242px;
    color: var(--palegrey);
  }
}
