.M_NavigationLinks {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 221px;
}

.M_HeadlineBlock {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  margin-top: 40px;
  border-radius: 8px;
  filter: drop-shadow(2px 1px 15px rgba(0, 0, 0, 0.1));
}

.M_MailCollectionBlock {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 242px;
  margin-right: 124px;
  gap: 3px;
}

.M_FooterLinks {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-right: 266px;
  gap: 48px;
  cursor: pointer;

  .W_LinksColumn {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}

.M_ContentMetaData {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 700px;
  height: 43px;
  padding: 0px;
  gap: 7px;
}

.M_InteractiveLine {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 700px;
  height: 22px;
  padding: 0px;
  gap: 364px;
}

.M_CardContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 700px;
  padding: 40px 0px 40px 0px;
  gap: 40px;
  background-color: white;

  .W_CardText {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 452px;
    gap: 15px;
  }
}

.M_RightsReservedBlock {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 38px;
  gap: 6px;
}

.M_AnswerList {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 35px;
  gap: 20px;
}

.M_ArticleTextSection {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}

.M_ArticleQuote {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 700px;
}

.M_QuizCardBlock {
  position: relative;
  display: flex;
  align-items: flex-start;
  height: 160px;
  flex-direction: column;
  gap: 14px;
}

.M_TagsRow {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-left: 22px;
  gap: 8px;
}

.M_TagsBlock {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 150px;
  gap: 6px;
}

.M_CloudTagRow {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 9px;
}

.M_CloudTagBlock {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  //width: 700px;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 9px;
}

.M_QuizCardBlockShort {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 14px;
}

.M_ArticleCard {
  position: relative;
  width: 340px;
  height: 160px;
  border-radius: 8px;
  background-color: var(--white);
  cursor: pointer;
  filter: drop-shadow(2px 1px 15px rgba(0, 0, 0, 0.1));

  &.specialWide {
    background-color: var(--black);
  }
  &.standartNarrow {
    width: 220px;
  }
  &.specialNarrow {
    width: 220px;
    background-color: var(--black);
  }
}

.M_QuizCard {
  position: relative;
  display: flex;
  width: 340px;
  height: 160px;
  border-radius: 8px;
  background-color: var(--white);
  cursor: pointer;
  filter: drop-shadow(2px 1px 15px rgba(0, 0, 0, 0.1));

  &.special {
    width: 220px;
    background-color: var(--black);
  }
}

.M_ArticleCardRow {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 20px;
}

.M_SosCardPreviewText {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
}

.M_SosCardPreview {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 6px;
}

.M_HeadlinerTagsRow {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-left: 22px;
  gap: 8px;
}

.M_Headliner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 940px;
  height: 180px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  background-image: url('../src/images/HeadlinerPic.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  filter: drop-shadow(2px 1px 15px rgba(0, 0, 0, 0.1));
}

.M_HeadlinerTagsRow {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-left: 22px;
  gap: 8px;
}

.M_SosCardRow {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 20px;
}
