.M_NavigationLinks {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 221px;

}

.M_HeadlineBlock {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  margin-top: 40px;
  border-radius: 8px;
  filter: drop-shadow(2px 1px 15px rgba(0,0,0,0.1));

}

.M_MailCollectionBlock {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 242px;
  margin-right: 124px;
  gap: 3px;

}

.M_FooterLinks {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-right: 266px;
  gap: 48px;

  .W_LinksColoumn {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}

.M_ContentMetaData {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 700px;
  height: 43px;
  padding: 0px;
  gap: 7px;

}

.M_InteractiveLine {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 700px;
  height: 22px;
  padding: 0px;
  gap: 364px;
}

.M_CardContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 700px;
  padding: 40px 0px 40px 0px;
  gap: 40px;
  background-color: white;

  .W_CardText {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 452px;
    gap: 15px;

  }

}

.M_RightsReservedBlock {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  opacity: 0.5;
  margin-top: 38px;
  gap: 6px;

}

.M_AnswerList {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 35px;
  gap: 20px;
}

.M_ArticleTextSection {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}

.M_ArticleQuote {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 700px;
}
