.O_NavigationBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 56px;
  background-color: var(--black);
}

.O_QuizBlock {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  padding: 40px 0 40px 0;
  border-radius: 8px;
  background-color: white;
  filter: drop-shadow(2px 1px 15px rgba(0, 0, 0, 0.1));
}

.O_Footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 175px;
  margin-top: 140px;
  bottom: 0;
  background-color: var(--black);
}

.O_Card {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  margin-top: 60px;
  border-radius: 8px;
  filter: drop-shadow(2px 1px 15px rgba(0, 0, 0, 0.1));
}

.O_ArticleLongread {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 54px;
  gap: 24px;

  .A_QuizHead {
    height: 400px;
  }
}

.O_SosCard {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  //justify-content: center;
  width: 220px;
  height: 340px;
  padding-top: 40px;
  gap: 10px;
  border-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  filter: drop-shadow(2px 1px 15px rgba(0, 0, 0, 0.1));

  &.mobile {
    display: none;
  }

  &.bug {
    background-image: url('../src/images/bugDesktop.png');
  }

  &.sunHeat {
    background-image: url('../src/images/sunHeatDesktop.png');
  }

  &.dehydration {
    background-image: url('../src/images/dehydrationDesktop.png');
  }

  &.frostbite {
    background-image: url('../src/images/frostbiteDesktop.png');
  }

  &.burn {
    background-image: url('../src/images/burnDesktop.png');
  }

  &.bonesOut {
    background-image: url('../src/images/bonesOutDesktop.png');
  }

  &.sprained {
    background-image: url('../src/images/sprainedDesktop.png');
  }

  &.bearMeeting {
    background-image: url('../src/images/bearMeetingDesktop.png');
  }

  &.apacheSos {
    background-image: url('../src/images/apacheSosDesktop.png');
  }

  &.brokenBone {
    background-image: url('../src/images/brokenBoneDesktop.png');
  }

  &.someoneDrowning {
    background-image: url('../src/images/someoneDrowningDesktop.png');
  }

  &.lost {
    background-image: url('../src/images/lostDesktop.png');
  }
}

.O_HeadlinerBlock {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 940px;
  margin-top: 55px;
  gap: 12px;

  .W_PackCardBlock {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 20px;
  }
}

.O_RecommendationCardRow {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.O_RecommendationCard {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 220px;
  height: 240px;
  margin-top: 20px;
  gap: 4px;
  border-radius: 8px;
  background-color: var(--white);
  cursor: pointer;
  filter: drop-shadow(2px 1px 15px rgba(0, 0, 0, 0.1));

  &.Mobile {
    display: none;
  }
}

.O_PackCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--sickyellow);
  width: 220px;
  height: 140px;
  padding: 34px 15px;
  gap: 4px;
  border-radius: 8px;
  filter: drop-shadow(2px 1px 15px rgba(0, 0, 0, 0.1));
}

.O_ContentMetaData {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 700px;
  padding: 0px;
  gap: 7px;
}

.O_QuizLink {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 200px;
  margin-top: 40px;
  padding: 20px;
  gap: 10px;
  border-radius: 8px;
  background: var(--white);
  cursor: pointer;
  box-shadow: 2px 1px 15px rgba(0, 0, 0, 0.1);

  .A_ArticleParagraph {
    width: 280px;
    height: 120px;
  }
}

.O_Search {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 940px;
  margin-top: 20px;
  gap: 20px;

  .A_Input {
    position: relative;
    width: 700px;
    height: 40px;
    gap: 10px;
    padding-left: 20px;
    border-radius: 100px;
    border-color: var(--blueishblue);
    border-width: 1px;
    background: var(--white);

    font-family: 'InterRegular', sans-serif;
    font-size: 18px;
    line-height: 115%;
    color: var(--blueishblue);
  }

  .A_Input::placeholder {
    color: var(--blueishblue);
    opacity: 0.4;
  }

  .A_Button {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 40px;
    //padding: 20px;
    border-radius: 100px;
    background: var(--blueishblue);
    cursor: pointer;

    font-family: 'InterRegular', sans-serif;
    font-size: 18px;
    line-height: 115%;
    color: var(--sickyellow);
  }
}

.S_Content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 940px;
  margin-top: 34px;
  gap: 12px;

  .O_ContentItem {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    height: 66px;
    padding: 0px 40px;
    //gap: 10px;
    border-radius: 100px;
    border-color: var(--blueishblue);
    border-width: 1px;
    border-style: solid;
    background-color: white;
    cursor: pointer;

    .A_ContentItemTitle {
      font-family: 'InterRegular', sans-serif;
      font-size: 18px;
      line-height: 146%;
      color: var(--dirtyblack);
    }

    .C_ContentItemTags {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 7px;
    }

    .A_ContentItemTag {
      display: inline-block;
      height: 22px;
      padding: 3px 14px 4px 14px;
      border-radius: 44px;
      border: 1px solid var(--blueishblue);

      font-family: 'InterLight', sans-serif;
      font-size: 12px;
      line-height: 115%;
      color: var(--blueishblue);

    }
  }
}




