.O_NavigationBar {
  width: 100vw;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);

}

.O_QuizBlock {
  position: relative;
  margin-top: 40px;
  padding: 40px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  filter: drop-shadow(2px 1px 15px rgba(0,0,0,0.1));

  p {
    font-family: 'InterMedium';
    font-size: 22px;
    line-height: 119%;
    color: var(--black);
    width: 570px;
  }

  h1 {
    font-family: 'InterMedium';
    font-size: 36px;
    line-height: 123%;
    color: var(--black);
    margin-bottom: 8px;
    width: 570px;
    margin-top: 8px;
  }

  .answerOptions {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .answerOption {
    width: 570px;
    border: 2px solid var(--blueishblue);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;

    &.Picked {
      border: 4px solid var(--blueishblue);
    }

    p {
      width: 401px;
      margin: 20px 0px 20px 40px;
    }

    .imgOption {
      width: 433px;
      height: 223px;
      margin: 8px 0px 8px 8px;
    }

    .ifCorrect {
      height: 46px;
      margin-left: 50px;
    }
  }
}

.O_Footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  width: 100vw;
  height: 175px;
  margin-top: 140px;
  bottom: 0;

  .privacyMark {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    opacity: 0.5;
    margin-top: 38px;

    img {
      width: 46px;
    }

    p {
      font-family: 'InterLight';
      font-size: 12px;
      line-height: 115%;
      width: 242px;
      color: var(--palegrey);
    }
  }
}

.O_Card {
  width: 700px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  filter: drop-shadow(2px 1px 15px rgba(0,0,0,0.1));

  .HeadPicture {
    width: 700px;
    height: 200px;
  }

  .cardContent {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: white;
    padding: 40px 0px 40px 0px;

    .cardTextBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      width: 452px;

      h2 {
        font-family: 'InterMedium';
        font-size: 22px;
        line-height: 119%;
        color: var(--blueishblue);
        width: 100%;
        text-align: center;
      }

      p {
        font-family: 'InterRegular';
        font-size: 18px;
        line-height: 146%;
        color: var(--blueishblue);
      }
    }



  }

}
