.O_NavigationBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 56px;
  background-color: var(--black);
}

.O_QuizBlock {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  padding: 40px 0 40px 0;
  border-radius: 8px;
  background-color: white;
  filter: drop-shadow(2px 1px 15px rgba(0, 0, 0, 0.1));
}

.O_Footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 175px;
  margin-top: 140px;
  bottom: 0;
  background-color: var(--black);
}

.O_Card {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  margin-top: 60px;
  border-radius: 8px;
  filter: drop-shadow(2px 1px 15px rgba(0, 0, 0, 0.1));
}

.O_ArticleLongread {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 54px;
  gap: 24px;

  .A_QuizHead {
    height: 400px;
  }
}

.O_SosCard {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  //justify-content: center;
  width: 220px;
  height: 340px;
  padding-top: 40px;
  gap: 10px;
  border-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  filter: drop-shadow(2px 1px 15px rgba(0, 0, 0, 0.1));

  &.mobile {
    display: none;
  }

  &.bug {
    background-image: url('../src/images/bugDesktop.png');
  }

  &.sunHeat {
    background-image: url('../src/images/sunHeatDesktop.png');
  }

  &.dehydration {
    background-image: url('../src/images/dehydrationDesktop.png');
  }

  &.frostbite {
    background-image: url('../src/images/frostbiteDesktop.png');
  }

  &.burn {
    background-image: url('../src/images/burnDesktop.png');
  }

  &.bonesOut {
    background-image: url('../src/images/bonesOutDesktop.png');
  }

  &.sprained {
    background-image: url('../src/images/sprainedDesktop.png');
  }
}

.O_SosCardBlock {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.O_HeadlinerBlock {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 940px;
  margin-top: 55px;
  gap: 12px;
}

.O_RecommendationCardRow {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.O_RecommendationCard {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 220px;
  height: 240px;
  margin-top: 20px;
  gap: 4px;
  border-radius: 8px;
  background-color: var(--white);
  cursor: pointer;
  filter: drop-shadow(2px 1px 15px rgba(0, 0, 0, 0.1));

  &.Mobile {
    display: none;
  }
}

.O_ContentMetaData {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 700px;
  padding: 0px;
  gap: 7px;
}
