.Q_Logo {
  width: 62px;
  margin-right: 312px;
}

.Q_CardList{
  font-family: 'InterRegular', sans-serif;
  font-size: 18px;
  line-height: 146%;
  list-style: decimal;
  color: var(--blueishblue);
}

.Q_IfCorrect {
  height: 46px;
  margin-left: 50px;
}

.Q_AnswerOptionText {
  width: 401px;
  margin: 20px 0px 20px 40px;
  font-family: 'InterMedium', sans-serif;
  font-size: 22px;
  line-height: 119%;
  color: var(--black);
}
