.Q_Logo {
  position: relative;
  width: 62px;
  margin-right: 312px;
}

.Q_IfCorrect {
  width: 39px;
  height: 46px;
  margin-left: 50px;
  background-image: none;
  background-size: cover;

  &.right {
    background-image: url("../src/images/quizGreenTick.svg");
  }

  &.wrong {
    background-image: url("../src/images/quizRedCross.svg");
  }
}

.Q_CrossError{
  position: absolute;
  width: 501px;
  height: 602px;
  z-index: -1;
  top: 115px;
  left: 442px;
  transform: rotate(17.61deg);
}
