.Q_Logo {
  width: 62px;
  margin-right: 312px;
}

.Q_CardList{
  font-family: 'InterRegular';
  font-size: 18px;
  line-height: 146%;
  list-style: decimal;
  color: var(--blueishblue);
}
.Q_IfCorrect {
  height: 46px;
  margin-left: 50px;
}
