.S_CardSection {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.S_CardBody {
  background-color: var(--palegrey);
  overflow-x: hidden;
}

.S_QuizSection {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.S_QuizContent {
  width: 700px;
  margin-top: 60px;
}

.S_QuizBody {
  background-color: var(--palegrey);
  overflow-x: hidden;
}

.S_MainBody {
  background-color: var(--palegrey);
  overflow-x: hidden;
}

.S_MainSection {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.S_MainContent {
  width: 700px;
  margin-top: 60px;
}

.S_ArticleSection {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.S_ArticleContent {
  width: 700px;
  margin-top: 60px;
}

.S_ArticleBody {
  background-color: var(--palegrey);
  overflow-x: hidden;
}

.S_MainCardsBlock {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 940px;
  margin-top: 45px;
  gap: 12px;
}

.S_ArticlesGalleryContent {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 940px;
}
.S_ArticlesGallerySection {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.S_QuizesGalleryContent {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 940px;
}
.S_QuizesGallerySection {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}
.S_CardsGalleryContent {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 940px;
}
.S_CardsGallerySection {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}
