.S_CardSection {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.S_CardBody {
  background-color: var(--palegrey);
  overflow-x: hidden;
}

.S_QuizSection {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.S_QuizContent {
  width: 700px;
  margin-top: 60px;
}

.S_QuizBody {
  background-color: var(--palegrey);
  overflow-x: hidden;
}

.S_MainBody {
  background-color: var(--palegrey);
  overflow-x: hidden;
}

.S_MainSection {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.S_ArticleSection {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.S_ArticleContent {
  width: 700px;
  margin-top: 60px;
}

.S_ArticleBody {
  background-color: var(--palegrey);
  overflow-x: hidden;
}

.S_MainCardsBlock {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 940px;
  margin-top: 45px;
  gap: 12px;

  .W_CardBlock {
    position: relative;
    display: flex;
    width: min-content;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;

    .C_ArticleCardRow {
      position: relative;
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      gap: 20px;
    }
  }
}

.S_ArticlesGalleryContent {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 940px;

  .W_CardBlock {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
  }
}

.S_ArticlesGallerySection {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  //justify-content: center;
  width: 100vw;
  min-height: 100%;
}

.S_QuizesGalleryContent {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 940px;

  .W_CardBlock {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
  }
}

.S_QuizesGallerySection {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100%;
}

.S_CardsGalleryContent {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 940px;

  .W_CardBlock {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
  }
}

.S_CardsGallerySection {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100%;
}

.S_RecommendationCardBlock {
  position: relative;
  width: 700px;
  margin-bottom: 100px;

  .C_RecommendationCardRow {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }
}