body.burn {
  background-color: var(--palegrey);
  overflow-x: hidden;
}

body.burn section {
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
}

body.burn .content {
  width: 700px;
  margin-top:60px;
}
