body.burn {
  body {
    background-color: var(--blueishblue);
    overflow-x: hidden;
  }
  section {
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }
  h1 {
    font-family: 'InterSemiBold';
    font-size: 1.09vw;
    font-weight: normal;
  }
  h2 {
    font-family: 'InterMedium';
    font-size: 2.5vw;
    font-weight: normal;
  }
  h3 {
    font-family: 'InterMedium';
    font-size: 1.72vw;
    font-weight: normal;
  }
  h4 {
    font-family: 'InterLight';
    font-size: 0.94vw;
    font-weight: normal;
    color: #3c65f7;
  }
  ol {
    font-family: 'InterRegular';
    font-size: 1.41vw;
    font-weight: normal;
    line-height: 146%;
  }
  h1 a {
    text-decoration: none;
    color: inherit;
  }
  a {
    color: inherit;
  }
  hr {
    border: 1px solid var(--blueishblue);
  }
  .navback {
    height: 8vh;
    width: 100vw;
    background-color: var(--dirtyblack);
  }
  .navigation {
    margin-top: -5vh;
    margin-left: 4%;
    width: 26.41vw;
    display: flex;
    justify-content: space-around;
  }
  .testsd {
    opacity: 60%;
    color: white;
    text-align: center;
  }
  .maind {
    opacity: 60%;
    color: white;
    text-align: center;
  }
  .articlesd {
    opacity: 60%;
    color: white;
    text-align: center;
  }
  .cardsd {
    color: white;
    text-align: center;
  }
  .line {
    margin-top: 18%;
    background-color: white;
    width: 5.44vw;
    height: 0.3vh;
  }
  .mainline {
    display: none;
  }
  .articlesline {
    display: none;
  }
  .testsline {
    display: none;
  }
  .logodiv {
    margin-top: -7vh;
    text-align: center;
  }
  .logo {
    width: 4.84vw;
  }
  #search {
    font-family: 'InterLight';
    padding: 5px 25px;
    width: 19.3vw;
    height: 4vh;
    font-size: 1.09vw;
    border: none;
    border-radius: 66px;
    cursor: pointer;
    text-decoration: none;
  }
  .magnifier {
    display: none;
  }
  .searchdiv {
    text-align: right;
    margin-right: 5%;
    margin-top: -5.7vh;
  }
  .menuflex {
    display: flex;
    justify-content: space-between;
  }
  .cardsdiv {
    margin-top: 1%;
  }
  .cardsback {
    width: 100vw;
  }
  .cardsbackmob {
    display: none;
  }
  .card {
    top: 16%;
    position: absolute;
    text-align: center;
    background-color: white;
    border-radius: 13px;
    width: 55.16vw;
    /* height: 10vh; */
    border: 2px solid #3c65f7;
  }
  .cardflex {
    display: flex;
    justify-content: space-around;
  }
  .cardheader {
    margin-top: 3%;
    padding-bottom: 2%;
  }
  .textheader {
    margin-top: 3%;
  }
  .textflex {
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
  }
  .text {
    text-align: left;
    width: 35.31vw;
  }
  .library {
    margin-top: 3%;
    padding-bottom: 3%;
  }
  .cross {
    cursor: pointer;
    width: 2.03vw;
  }
  .crossdiv {
    position: absolute;
    top: 16%;
    left: 79%;
  }
}
