@font-face {
  font-family: 'InterRegular';
  src: url('fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'InterSemiBold';
  src: url('fonts/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'InterMedium';
  src: url('fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'InterLight';
  src: url('fonts/Inter-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'InterItalic';
  src: url('fonts/Inter-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Diagramatika';
  src: url('fonts/Diagramatika Display Regular.ttf') format('truetype');
}

@font-face {
  font-family: '21Cent-Italic';
  src: url('fonts/21Cent-Italic.otf') format('opentype');
}
