body.index {
  body {
    background-color: #efefef;
    overflow-x: hidden;
  }
  section {
    height: 100vh;
    margin: 0;
  }
  h1 {
    font-family: 'Diagramatika';
    font-size: 1.88vw;
    font-weight: normal;
    color: #3860ec;
  }
  p {
    font-family: 'Diagramatika';
    font-size: 1.88vw;
    font-weight: normal;
    line-height: 121%;
  }
  span {
    font-family: '21Cent-Italic';
    font-size: 2.5vw;
    font-weight: normal;
    color: #fdff8b;
    -webkit-text-stroke: 0.08vw #fdff8b;
  }
  h2 {
    font-family: '21Cent-Italic';
    font-size: 5vw;
    font-weight: normal;
    color: #fdff8b;
    -webkit-text-stroke: 0.31vw #3860ec;
  }
  .navigation {
    width: 91vw;
    display: flex;
    left: 4%;
    top: 6%;
    position: relative;
    justify-content: space-between;
  }
  .underimg1,
  .underimg2,
  .underimg3 {
    width: 10vw;
  }
  .underimg2,
  .underimg3 {
    opacity: 0;
  }
  .promob {
    text-align: center;
  }
  .aboutb {
    text-align: center;
  }
  .contactsb {
    text-align: center;
  }
  .ouch {
    margin-top: 7%;
    text-align: center;
    width: 100vw;
  }
  .mainlogo {
    width: 47vw;
  }
  .descript {
    margin-top: -5%;
    text-align: center;
  }
  .arrow {
    margin-left: 27%;
    margin-top: -2%;
  }
  .arrowimg {
    display: block;
    width: 9vw;
  }
  .arrowimgtab {
    display: none;
  }
  .arrowimgmob {
    display: none;
  }
  .firsttext {
    color: #3860ec;
    padding-top: 4%;
    margin-left: 4%;
    width: 34vw;
  }
  .textstack {
    display: block;
    width: 94vw;
  }
  .textstacktab {
    display: none;
  }
  .textstackmob {
    display: none;
  }
  .textimg {
    display: flex;
    justify-content: space-around;
    margin-top: -21%;
  }
  .back {
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
    width: 100vw;
    text-align: center;
  }
  .backrect {
    width: 97vw;
  }
  .backrecttab {
    display: none;
  }
  .backrectmob {
    display: none;
  }
  .cardsb {
    margin-top: -53%;
    width: 100vw;
    text-align: center;
  }
  .cards {
    width: 51vw;
  }
  .secondtextb {
    width: 100vw;
    display: flex;
    justify-content: space-around;
  }
  .secondtext {
    color: #efefef;
    /* padding-top: 0%;
    margin-left: 24%; */
    width: 54vw;
  }
  .cib {
    margin-left: 9%;
    margin-top: -11%;
  }
  .cardillust {
    width: 11vw;
  }
  .chib {
    margin-left: 75%;
    margin-top: -30%;
  }
  .checkillust {
    width: 16vw;
  }
  .lasthead {
    display: flex;
    justify-content: space-around;
    padding-top: 23%;
    width: 100vw;
    text-align: center;
  }
  .lastheadimg {
    display: block;
    width: 47.66vw;
  }
  .lastheadimgtab {
    display: none;
  }
  .lastheadimgmob {
    display: none;
  }
  .lastdescriptb {
    margin-top: 0%;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  .lastdecript {
    width: 33vw;
  }
  .emaild {
    width: 100vw;
    text-align: center;
  }
  #email {
    font-family: 'Diagramatika';
    color: #fdff8b;
    padding: 5px 25px;
    margin-top: 4%;
    width: 26vw;
    height: 5vh;
    font-size: 1.25vw;
    border: none;
    border-radius: 66px;
    background-color: #3860ec;
    cursor: pointer;
    text-decoration: none;
  }
  #emailb {
    font-family: 'Diagramatika';
    margin-left: -9%;
    color: #fdff8b;
    font-size: 1.25vw;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .clock {
    position: relative;
    z-index: -1;
    margin-top: -8%;
    margin-left: 5%;
  }
  .clockillust {
    width: 25vw;
  }
  .letter {
    position: relative;
    z-index: -1;
    margin-top: -54%;
    margin-left: 26%;
  }
  .letterillust {
    width: 20vw;
  }
  .boy {
    position: relative;
    z-index: -1;
    margin-top: -17%;
    margin-left: 61%;
  }
  .boyillust {
    width: 34vw;
  }
  .draw {
    position: relative;
    z-index: -1;
    margin-top: -1%;
    margin-left: 55%;
  }
  .drawillust {
    width: 18vw;
  }
}
