body.index {
  background-color: var(--softpillowbeige);
  overflow-x: hidden;
}
a {
  color: black;
  text-decoration: none; /* no underline */
}

a:hover {
  color: var(--lifevestorange);
}

section {
  height: 100vh;
  margin: 0;
}
.firstname {
  top: 40%;
  position: absolute;
  width: 100%;
  text-align: center;
  color: var(--softpillowbeige);
}
h1 {
  font-family: 'InterSemiBold';
  font-size: 10vw;
}
h2 {
  font-family: 'InterSemiBold';
  font-size: 1.88vw;
  line-height: 121%;
}
h3 {
  font-family: 'InterSemiBold';
  font-size: 5vw;
  line-height: 95%;
}
h4 {
  font-family: 'InterSemiBold';
  font-size: 3.76vw;
  line-height: 121%;
}
p {
  font-family: 'InterRegular';
  font-size: 1.88vw;
  line-height: 140%;
  color: var(--softpillowbeige);
}
.menuleft {
  display: flex;
  left: 4%;
  top: 4%;
  position: absolute;
}
.menuright {
  display: flex;
  right: 6%;
  top: 4%;
  position: absolute;
}

.promo {
  padding-right: 20%;
  color: var(--lifevestorange);
}
.about {
  color: var(--lifevestorange);
  width: 14vw;
}
.vk {
  color: black;
  padding-right: 15%;
}
.tg {
  color: black;
}
.firstfigure {
  position: absolute;
  top: 15%;
}
.firstfigureimg {
  width: 100vw;
}
.firsttext {
  color: black;
}
.redtext {
  color: var(--lifevestorange);
}
.abouttext {
  padding-top: 15%;
  margin-left: 4%;
  /* width: 555px; */
}
.firstimg {
  width: 100%;
  text-align: right;
  margin-top: -30%;
  position: absolute;
}
.img1 {
  width: 50%;
}
.secondfigure {
  margin-top: -10%;
}
.secondfigureimg {
  width: 100vw;
}
.texttriple {
  margin-top: -50%;
  width: 100vw;
  display: grid;
  /* gap: 10%; */
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 90% 90% 90%;
  grid-template-areas:
    '.   one .   '
    '.   two .   '
    '.   three .   ';
}
.textread1 {
  color: var(--softpillowbeige);
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 42vw;
  grid-area: one;
}
.circtext {
  margin-top: 2%;
}
.textread2 {
  color: var(--softpillowbeige);
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 44vw;
  grid-area: two;
}
.textread3 {
  color: var(--softpillowbeige);
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 49.5vw;
  grid-area: three;
}
.thirdfigure {
  margin-top: 20%;
  padding-top: 8%;
  text-align: center;
}
.alarmtext {
  text-align: center;
  position: relative;
  margin-top: -26%;
  margin-left: 0%;
  color: var(--softpillowbeige);
  z-index: 1;
}
.alarmsmall {
  margin-top: 2%;
}
.thirdfigureimg {
  width: 74vw;
}
.allfoot {
  /* margin-top: 11%; */
  bottom: -311%;
  position: absolute;
  width: 100%;
  height: 10vh;
}

.forthfigureimg {
  position: absolute;
  width: 3%;
  top: 75%;
  left: 3%;
}
.footername {
  position: absolute;
  right: 3%;
  top: 80%;
  text-align: right;
  color: var(--lifevestorange);
}
#email {
  color: var(--lifevestorange);
  padding: 5px 25px;
  margin-top: 4%;
  width: 26vw;
  height: 5vh;
  font-size: 1.25vw;
  border: none;
  border-radius: 66px;
  background-color: var(--softpillowbeige);
  cursor: pointer;
  text-decoration: none;
}
#emailb {
  margin-left: -9%;
  color: var(--lifevestorange);
  font-size: 1.25vw;
  border: none;
  background: transparent;
  cursor: pointer;
}
