body.index {
  background-color: $neonorange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > div,
  & > a {
    margin: 10px 0;
  }
}

h1 {
  font-size: 96px;
  padding-bottom: 44px;
}
