@media only screen and (min-width: 768px) and (max-width: 1024px) {
body.index {
  h1{
  font-size: 2.34vw;
  }
  p{
  font-size: 2.34vw;
  }
  span {
    font-size: 2.50vw;
    -webkit-text-stroke:0.15vw var(--sickyellow);
  }
  .mainlogo{
    width: 71.29vw;
  }
  .ouch{
    margin-top: 34%;
  }
  .arrow{
    margin-left: 24%;
  }
  .arrowimg{
    display: none;
  }
  .arrowimgtab{
    display: block;
    width: 9.08vw;
  }
  .firsttext{
    padding-top: 4%;
    margin-left: 4%;
    width: 43vw;
  }
  .textstack{
    display: none;
  }
  .textstacktab{
    display: flex;
    width: 95.5vw;
  }
  .textimg{
    margin-top: 19%;
  }
  .back{
    padding-top: 10%;
  }
  .backrect{
    display: none;
  }
  .backrecttab{
  display: block;
  width: 83.01vw;
  }
  .cardsb{
    margin-top: -100%;
   }
  .cards{
    width: 59.86vw;
  }
  .secondtextb{
    margin-top: 10%;
  }
  .secondtext{
    width: 65vw;
  }
  .cib{
    margin-left: 14%;
    margin-top: -1%;
  }
  .cardillust{
    width: 20vw;
  }
  .chib{
    margin-left: 66%;
    margin-top: -55%;
  }
  .checkillust{
    width: 20vw;
  }
  .lasthead{
    padding-top: 61%;
  }
  .lastheadimg{
    display: none;
  }
  .lastheadimgtab{
    display: block;
    width: 59.57vw;
  }
  .lastdecript{
    width: 41vw;
  }
  .emaild{
    width: 100vw;
    text-align: center;
  }
  #email {
    font-family: 'Diagramatika';
    color: var(--sickyellow);
    padding: 5px 25px;
    margin-top: 4%;
    width: 33.01vw;
    height: 3.73vh;
    font-size: 1.56vw;
    border: none;
    border-radius: 66px;
    background-color: var(--blueishblue);
    cursor: pointer;
    text-decoration: none;
  }
  #emailb {
    font-family: 'Diagramatika';
    margin-left: -10%;
    color: var(--sickyellow);
    font-size: 1.56vw;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .clock{
    margin-top: 4%;
    margin-left: 4%;
  }
  .clockillust{
    width: 50vw;
  }
  .letter{
    margin-top: -110%;
    margin-left: 4%;
  }
  .letterillust{
    width: 37vw;
  }
  .boy{
    margin-top: -18%;
    margin-left: 53%;
  }
  .boyillust{
    width: 49vw;
  }
  .draw{
    margin-top: -4%;
    margin-left: 53%;
  }
  .drawillust{
    width: 28vw;
  }
}
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
body.index {
  h1{
  font-size: 4.35vw;
  }
  p{
  font-size: 4.35vw;
;
  }
  span {
    font-size: 5.56vw;
    -webkit-text-stroke:0.15vw var(--sickyellow);
  }
  .underimg1, .underimg2, .underimg3{
    width: 21.74vw;
  }
  .mainlogo{
    width: 87.92vw;
  }
  .ouch{
    margin-top: 34%;
  }
  .arrow{
    margin-top:-4%;
    margin-left: 10%;
  }
  .arrowimg{
    display: none;
  }
  .arrowimgmob{
    display: block;
    width: 9.90vw;
  }
  .firsttext{
    padding-top: 7%;
    margin-left: 8%;
    width: 80vw;
  }
  .textstack{
    display: none;
  }
  .textstackmob{
    display: flex;
    width: 98vw;
  }
  .textimg{
    margin-top: 19%;
  }
  .back{
    padding-top: 19%;
  }
  .backrect{
    display: none;
  }
  .backrectmob{
  display: block;
  width: 100vw;
  }
  .cardsb{
    margin-top: -167%;
   }
  .cards{
    width: 71vw;
  }
  .secondtextb{
    margin-top: 19%;
  }
  .secondtext{
    width: 65vw;
  }
  .cib{
    margin-left: 16%;
    margin-top: -1%;
  }
  .cardillust{
    width: 30vw;
  }
  .chib{
    margin-left: 57%;
    margin-top: -108%;
  }
  .checkillust{
    width: 30vw;
  }
  .lasthead{
    padding-top: 72%;
  }
  .lastheadimg{
    display: none;
  }
  .lastheadimgmob{
    display: block;
    width: 87.68vw;
  }
  .lastdecript{
    width: 75vw;
  }
  .emaild{
    width: 100vw;
    text-align: center;
  }
  #email {
    font-family: 'Diagramatika';
    color: var(--sickyellow);
    padding: 5px 25px;
    margin-top: 9%;
    width: 70vw;
    height: 6vh;
    font-size: 3.86vw;
    border: none;
    border-radius: 66px;
    background-color: var(--blueishblue);
    cursor: pointer;
    text-decoration: none;
  }
  #emailb {
    font-family: 'Diagramatika';
    margin-left: -24%;
    color: var(--sickyellow);
    font-size: 3.86vw;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .clock{
    margin-top: 3%;
    margin-left: -1%;
  }
  .clockillust{
    width: 59vw;
  }
  .letter{
    margin-top: -163%;
    margin-left: -3%;
  }
  .letterillust{
    width: 46vw;
  }
  .boy{
    margin-top: -18%;
    margin-left: 41%;
  }
  .boyillust{
    width: 64vw;
  }
  .draw{
    margin-top: 19%;
    margin-left: 65%;
  }
  .drawillust{
    width: 35vw;
  }
}
}
