:root {
  --white: white;
  --black: #231f1c;
  --palegrey: #EFEFEF;
  --sickyellow: #FDFF8B;
  --blueishblue: #3860EC;
  --dirtyblack: #171717; 
}

$neonorange: #ff5f1f;
$neongreen: #39ff14;
$neonblue: #1f51ff;
