:root {
  --white: white;
  --black: black;
  --neonorange: #ff5f1f;
}

$neonorange: #ff5f1f;
$neongreen: #39ff14;
$neonblue: #1f51ff;
$softpillowbeige: #f7f2ec;
$lifevestorange: #f96247;
$accentblack: #231f1c;
