:root {
  --white: #ffffff;
  --black: #231f1c;
  --palegrey: #efefef;
  --sickyellow: #fdff8b;
  --blueishblue: #3c65f6;
  --dirtyblack: #171717;
}

$neonorange: #ff5f1f;
$neongreen: #39ff14;
$neonblue: #1f51ff;
