@media only screen and (max-width: 390px) {

  .O_NavigationBar {
    display: none;
  }

  .M_StaticBar {
    display: flex;
  }

  .Q_Logo {
    margin-right: 0;
  }

  .M_NavigationLinks {
    &.mobile {
      display: flex;
      justify-content: center;
      margin-right: 0;
    }
  }

  .A_SectionButton {
    opacity: 0.6;
    padding: 10px 15px;
    color: var(--blueishblue);

    &.active {
      opacity: 1;
      border-bottom: solid;
      border-width: 2px;
      border-color: var(--blueishblue);
    }
  }

  .C_CloudTagRow {
    width: 358px;
  }

  .S_ArticlesGalleryContent {
    width: 358px;
  }

  .O_HeadlinerBlock {
    width: 358px;
    margin-top: 42px;
    gap: 12px;
  }

  .A_SectionHeading {
    width: 358px;
    padding-bottom: 5px;
    font-size: 32px;
    line-height: 112%;
    color: var(--black);
  }

  .M_Headliner {
    width: 358px;
    height: 272px;
    background-image: none;
    background-color: var(--blueishblue);
  }

  .M_HeadlinerTextBlock {
    width: 321px;
  }

  .A_HeadlinerHeading {
    width: 321px;
    font-size: 22px;
    line-height: 119%;
  }

  .A_HeadlinerDescription {
    width: 321px;
    font-family: 'InterLight', sans-serif;
    font-size: 14px;
    line-height: 146%;
    color: var(--white);
  }

  .A_CardType  {
    &.headline {
      display: none;
    }
  }

  .C_HeadlinerTagsRow {
    margin-left: 0;
  }

  .S_MainCardsBlock {
    width: 358px;
    margin-top: 42px;
    gap: 12px;

    .W_CardBlock {
      width: 358px;
      flex-direction: column;

      .C_ArticleCardRow {
        display: none;
      }
    }
  }

  .M_ArticleCard {
    display: none;
    width: 358px;

    &.mobile {
      display: block;
    }
  }

  .O_Footer {
    flex-direction: column;
    width: 100vw;
    height: 475px;
    margin-top: 140px;
    gap: 32px;
    bottom: 0;
    background-color: var(--black);
  }

  .M_FooterLinks {
    align-items: center;
    flex-direction: column;
    margin-right: 0;
    gap: 0;

    .W_LinksColumn {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }

  .M_RightsReservedBlock {
    align-items: center;
    margin: 0;
  }

  .M_MailCollectionBlock {
    align-items: center;
    width: 180px;
    margin-right: 0;
  }

  .A_MailInput {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 178px;
    opacity: 0.6;

    .mailInput {
      width: 178px;
      text-align: center;
      background-color: var(--black);
    }
  }

  .A_LeaveMailCall {
    width: 178px;
    text-align: center;
  }

  .A_RightsReservedText {
    width: 134px;
    text-align: center;
  }

  .A_ArticleHeading {
    margin-bottom: 12px;
    font-size: 32px;
    line-height: 112%;
  }

  .S_ArticleContent {
    width: 358px;
    margin-top: 18px;
  }

  .M_InteractiveLine {
    align-items: flex-start;
    flex-direction: column;
    width: 358px;
    gap: 18px;

    .W_SocialsList {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      width: 98px;
      height: 30px;
      padding: 0px;
      gap: 6px;
    }
  }

  .A_Socials {
    width: 30px;
    height: 30px;
  }

  .M_HeadlineBlock {
    width: 358px;
    margin-top: 23px;
    border-radius: 8px;
  }

  .A_QuizHead {
    width: 358px;
    height: 114px;
    background-image: url('../src/images/Mobile_desertHeadPic.png');
  }

  .A_QuizHeadText {
    width: 358px;

    .A_EliteHeadText {
      width: 298px;
      font-size: 12px;
      line-height: 115%;
    }
  }

  .A_ParagraphHeading {
    width: 358px;
    font-size: 20px;
    line-height: 108%;
  }

  .A_ArticleParagraph {
    font-size: 18px;
    line-height: 131%;
  }

  .M_ArticleQuote {
    width: 358px;
  }

  .A_QuoteMark {
    width: 71px;
  }

  .A_QuoteText {
    width: 209px;
    font-size: 20px;
    line-height: 108%;
  }

  .O_ArticleLongread {
    gap: 30px
  }

  .S_QuizesGalleryContent {
    width: 358px;
  }

  .S_CardsGalleryContent {
    width: 358px;
  }

  .O_SosCard {
    width: 358px;
    height: 340px;

    &.mobile {
      display: flex;
    }

    &.bug {
      background-image: url('../src/images/bugMobile.png');
    }

    &.sunHeat {
      background-image: url('../src/images/sunHeatMobile.png');
    }

    &.dehydration {
      background-image: url('../src/images/dehydrationMobile.png');
    }

    &.frostbite {
      background-image: url('../src/images/frostbiteMobile.png');
    }

    &.burn {
      background-image: url('../src/images/burnMobile.png');
    }

    &.bonesOut {
      background-image: url('../src/images/bonesOutMobile.png');
    }

    &.sprained {
      background-image: url('../src/images/sprainedMobile.png');
    }
  }

  .O_Card {
    width: 358px;
  }

  .S_QuizContent {
    width: 358px;
    margin-top: 18px;
  }

  .A_AnswerOptionText {
    width: 235px;
    margin: 12px 0px 12px 20px;
    font-family: 'InterRegular', sans-serif;
    font-size: 14px;
    line-height: 104.5%;
  }

  .Q_IfCorrect {
    width: 23.25px;
    height: 27.42px;
    margin-left: 21px;
  }

  .A_QuestionText {
    width: 327px;
    margin-bottom: 25px;
    margin-top: 8px;
    font-size: 22px;
    line-height: 104.5%;
  }

  .M_AnswerList {
    margin-top: 0;
  }

  .A_ResultMeaning {
    width: 327px;
    font-size: 14px;
    line-height: 144%;
    color: var(--black);
  }

  .M_ResultVisual {
    width: 327px;
    height: 121px;
    margin-top: 25px;
  }

  .A_QuizHeading {
    font-size: 32px;
    line-height: 112%;
  }

  .S_RecommendationCardBlock {
    width: 358px;

    .C_RecommendationCardRow {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 15px;
      gap: 6px;
    }
  }

  .A_RecommendationHeading {
    width: 358px;
  }

  .O_RecommendationCard {
    width: 176px;
    height: 192px;
    margin-top: 0px;
    gap: 4px;

    &.Mobile {
      display: flex;
    }
  }

  .A_RecommendationCardImg {
    width: 176px;
    height: 128px;
  }

  .A_RecommendationCardText {
    width: 141px;
    margin-top: 12px;
    font-size: 12px;
  }

  .A_AnswerOption {
    width: 327px;
  }

  .A_QuestionNumber {
    width: 327px;
  }

  .A_CardHead {
    width: 358px;
    height: 102px;
  }

  .M_CardContent {
    width: 358px;
    padding: 40px 0px 40px 0px;
    gap: 40px;
  }

  .M_CardTextBlock {
    width: 302px;
    padding: 0 20px
  }

  .A_CardTextHeader {
    font-size: 20px;
    line-height: 108%;
  }

  .A_CardText{
    font-size: 14px;
    line-height: 144%;
  }

}
